.arrowBottom {
  position: relative;
}
.arrowBottom:after,
.arrowBottom:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.arrowBottom:after {
  border-top-color: #eeeeee;
  border-width: 30px;
  margin-left: -30px;
}
.arrowBottom:before {
  border-top-color: #eeeeee;
  border-width: 36px;
  margin-left: -36px;
}

.solutionArrowBottom {
  padding: 4px 8px;
  position: relative;
  width: fit-content;
  border-bottom: 1px solid #ffffff;
}
.solutionArrowBottom:after,
.solutionArrowBottom:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: '';
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.solutionArrowBottom:after {
  border-top-color: #ff7bac;
  border-width: 10px;
  margin-left: -10px;
}
.solutionArrowBottom:before {
  border-top-color: #ffffff;
  border-width: 13px;
  margin-left: -13px;
}

.solutionTag {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #febdd6;
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.solutionTag::after {
  background: linear-gradient(to right, #ff7bac, #febdd6);
  position: absolute;
  top: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 100%;
  transform: scale(0, 1);
  transform-origin: left top;
  transition: 0.4s cubic-bezier(0.45, 0, 0.55, 1);
  z-index: -1;
}
.solutionTag:hover {
  color: #fff;
  font-weight: bold;
}
.solutionTag:hover::after {
  transform: scale(1, 1);
}

.contactButton:hover {
  text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
}

.balloon {
  position: relative;
  display: inline-block;
  margin: 1.5em 0;
  padding: 12px 36px;
  min-width: 120px;
  max-width: 100%;
  font-size: 16px;
  background: #ffffff;
  border-radius: 40px;
}

.balloon:before {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-top: 15px solid #ffffff;
}

.balloon p {
  margin: 0;
  padding: 0;
}
