.main {
  margin: 0 auto;
}

@media (max-width: 640px) {
  .main {
    margin: 0 auto;
  }
}

.message {
  animation: message 2s linear;
  transform-origin: 50% 50%;
}

@keyframes message {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
