.main {
  margin: 0 auto;
}

@media (max-width: 640px) {
  .main {
    margin: 0 auto;
  }
}

.message {
  animation: message 7s;
}

@keyframes message {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
