.title {
  font-size: 1.8rem;
  border-bottom: 1px solid #e0e0e0;
  position: relative;
  padding-bottom: 14px;
  line-height: 1.72;
  margin-bottom: 24px;
}

.title::after {
  content: '';
  display: block;
  height: 1px;
  background-color: #ff7bac;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 64px;
}
