.braketHeading {
  position: relative;
  line-height: 1.4;
  padding: 0.25em 1em;
  display: inline-block;
  top: 0;
  text-align: center;
}

.braketHeading:before,
.braketHeading:after {
  position: absolute;
  top: 0;
  content: '';
  width: 8px;
  height: 100%;
  display: inline-block;
}

.braketHeading:before {
  border-top: solid 1px Black;
  border-left: solid 1px Black;
  border-bottom: solid 1px Black;
  left: 0;
}

.braketHeading:after {
  content: '';
  border-top: solid 1px Black;
  border-right: solid 1px Black;
  border-bottom: solid 1px Black;
  right: 0;
}

.blueMarker {
  background: linear-gradient(transparent 50%, #99cef7 50%);
}
